body {
  background-color: #00aaff;
}
nav{
  max-width: 1200px;
  margin: auto;
  position sticky;
  bottom: 0;
  right: 0;
  width: 100%;
  border: 3px solid #73AD21;
  top: 0;
  height: 60px;
  background-color: #CEDCE7;
  text-align: center;
  font-size: 43px;
}
.naf {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button {
  width: 33%
}
p{
  background-color: white;
  max-width: 1000px;
  margin: auto;
  padding: 8px;
}
h2{
  background-color: white;
  max-width: 1000px;
  margin: auto;
  padding: 8px;
  text-align: center;
}
main{
  margin: auto;
  background-color: #80d4ff;
  padding: 8px;
  max-width: 1200px;
}
img{
  margin: auto;
  max-width: 1200px;
  padding: 20px;
  max-height: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img1{
  display: flex;
  justify-content: center;
}