body {
  /* style voor de body */
}
nav{
  position sticky;
  bottom: 0;
  right: 0;
  width: 100%;
  border: 3px solid #73AD21;
  top: 0;
  height: 60px;
  background-color: #CEDCE7;
  text-align: center;
  font-size: 43px;
}
.naf {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button {
  width: 33%
}